@media only screen and (max-width:1100px) {
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;
    }

    .banner .carousel-box {
        min-width: 800px;
     }

    .banner::before {
        top: 0;
    }

    .sci {
        display: block;
        bottom: 0px;
        right: 0px;
    }
}

@media only screen and (max-width:850px ) {
    .banner .carousel-box {
       min-width: 600px;
    }
}

@media only screen and (max-width:650px ) {
    .banner .carousel-box {
        min-width: 400px;
     }
}

@media only screen and (max-width:450px ) {
    .banner .carousel-box {
        min-width: 250px; 
     }
     .carousel .carousel-item {
        width: 100px;
     }
     .carousel .carousel-item img {
        max-width: 200px;
        transform: translateX(8px) translateY(9px);
     }
     .carousel {
    position: relative;
    height: 270px;
    perspective: 1500;
}
}